<div class="site-section border-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-xl-6" data-aos="fade-up" data-aos-delay="100">
        <img src="{{ '/uploads/images/about/about-1.jpg' | url }}" alt="{{ site.title }}" class="img-fluid">
      </div>
      <div class="col-12 col-xl-5 ml-auto" data-aos="fade-up" data-aos-delay="200">
        <div class="site-section-title mb-3 mt-4">
          <h2>Chi Siamo</h2>
        </div>
        <div>
          <p><strong>Da oltre 20 anni</strong> con passione e professionalità, ci occupiamo di intermediazione immobiliare, sia vendita che locazione residenziale-commerciale, nella zona tra Bergamo e Brescia, in particolare la Valcalepio, Franciacorta e Lago d’Iseo.</p>
          <p>L’attività è gestita nella persona di Sergio Andrea Manenti, titolare e agente immobiliare associato Fiaip dal 1997, affiancato da una forte squadra di professionisti esterni; insieme ti aiuteremo a realizzare il tuo obiettivo immobiliare, con una consulenza a 360° chiavi in mano.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-xl-6 order-xl-2" data-aos="fade-up" data-aos-delay="100">
        <img src="{{ '/uploads/images/about/about-2.jpg' | url }}" alt="{{ site.title }}" class="img-fluid">
      </div>
      <div class="col-12 col-xl-5 mr-auto order-xl-1" data-aos="fade-up" data-aos-delay="200">
        <div class="site-section-title mb-3 mt-4">
          <h2>Come Lavoriamo</h2>
        </div>
        <div>
          <p>Ascoltiamo con attenzione le tue esigenze e siamo al tuo servizio, con serietà e trasparenza; ci aggiorniamo continuamente sulle ultime normative e trend, per questo siamo in grado di proporre sempre le migliori soluzioni su misura per te.</p>
          <p>Sentiamo nostra la frase “vendere significa far sognare chi compra” e adoperiamo tutta la nostra esperienza nel settore per trasformare questo sogno in realtà. Vieni a trovarci nella nostra sede a Castelli Calepio!</p>
        </div>
      </div>
    </div>
  </div>
</div>
