<div id="about" class="section section-4 bg-light">
	<div class="container">
		<div class="row justify-content-center text-center mb-5">
			<div class="col-lg-5">
				<h2 class="font-weight-bold heading text-primary mb-4">Affidati a noi per trovare la casa perfetta per te!</h2>
				<p>Abbiamo più di 25 anni di esperienza nel settore della compravendita immobiliare, residenziale e commerciale.</p>
			</div>
		</div>
		<div class="row justify-content-between mb-5">
			<div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
				<div class="img-about dots">
					<img src="{{ '/assets/img/about/about-1.jpg' | url }}" alt="{{ site.title }}" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="d-flex feature-h">
					<span class="wrap-icon me-3">
						<span class="icon-home"></span>
					</span>
					<div class="feature-text">
						<h3 class="heading">Mission</h3>
						<p>Integrità, professionalità e trasparenza sono i nostri valori. Ci aggiorniamo di continuo e accogliamo il cliente come in famiglia.</p>
					</div>
				</div>
				<div class="d-flex feature-h">
					<span class="wrap-icon me-3">
						<span class="icon-globe"></span>
					</span>
					<div class="feature-text">
						<h3 class="heading">Location</h3>
						<p>Siamo operativi nell’area compresa tra Bergamo e Brescia, basso lago d’Iseo, Franciacorta e Valcalepio.</p>
					</div>
				</div>
				<div class="d-flex feature-h">
					<span class="wrap-icon me-3">
						<span class="icon-person_pin"></span>
					</span>
					<div class="feature-text">
						<h3 class="heading">Team</h3>
						<p>L’attività è guidata da Sergio Manenti, agente immobiliare Fiaip dal 1997, con una equipe esterna per un servizio completo.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
				<img src="{{ '/assets/img/hero/hero-1.jpg' | url }}" alt="Lago d’Iseo" class="img-fluid">
			</div>
			<div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="100">
				<img src="{{ '/assets/img/hero/hero-2.jpg' | url }}" alt="Sarnico e Valcalepio" class="img-fluid">
			</div>
			<div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
				<img src="{{ '/assets/img/hero/hero-3.jpg' | url }}" alt="Franciacorta" class="img-fluid">
			</div>
		</div>
		<div class="row section-counter mt-5">
			<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
				<div class="counter-wrap mb-5 mb-lg-0">
					<span class="number"><span class="countup text-primary">25</span>+</span>
					<span class="caption "># anni di esperienza</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
				<div class="counter-wrap mb-5 mb-lg-0">
					<span class="number"><span class="countup text-primary">55</span>+</span>
					<span class="caption "># esclusive su nuove costruzioni</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
				<div class="counter-wrap mb-5 mb-lg-0">
					<span class="number"><span class="countup text-primary">1500</span>+</span>
					<span class="caption "># proprietà vendute</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
				<div class="counter-wrap mb-5 mb-lg-0">
					<span class="number"><span class="countup text-primary">2500</span>+</span>
					<span class="caption "># acquisizioni di mandati</span>
				</div>
			</div>
		</div>
	</div>
</div>
