<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="mb-5">
          <h3 class="footer-heading mb-4">Informazioni legali</h3>
          <p>
            Copyright &copy; {% year %} {{ site.title }} | <a href="https://www.iubenda.com/privacy-policy/62197139" class="iubenda-embed iubenda-noiframe iubenda-nostyle" title="Privacy Policy">Privacy Policy</a>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-5">
          <h3 class="footer-heading mb-4">Seguici</h3>
          <a href="{{ site.network.facebook }}" target="_blank" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
          {# <a href="{{ site.network.instagram }}" target="_blank" class="pl-3 pr-3"><span class="icon-instagram"></span></a> #}
          <a href="{{ site.network.linkedin }}" target="_blank" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
          <a href="{{ site.network.youtube }}" target="_blank" class="pl-3 pr-3"><span class="icon-youtube"></span></a>
          <a href="{{ site.network.google }}" target="_blank" class="pl-3 pr-3"><span class="icon-google"></span></a>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-5">
          <h3 class="footer-heading mb-4">Crediti</h3>
          <p>
            Sviluppato da <a href="https://raffaellarinaldi.dev" target="_blank">Raffaella Rinaldi</a> | Template di <a href="https://colorlib.com" target="_blank">Colorlib</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
