<div class="site-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-12 text-center">
        <div class="site-section-title">
          <h2>Vuoi vendere casa? Chiamaci, ti offriamo</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-4 mb-3 mb-xl-0">
        <div class="feature d-flex align-items-start">
          <span class="mr-3"><img src="{{ '/assets/img/home.png' | url }}" alt="Valutazione"></span>
          <div class="text">
            <h2 class="mt-0">Valutazione gratuita</h2>
            <p>Con sopralluogo e rilascio di documentazione di stima immobiliare.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4 mb-3 mb-xl-0">
        <div class="feature d-flex align-items-start">
          <span class="mr-3"><img src="{{ '/assets/img/advertisement.png' | url }}" alt="Pubblicazione"></span>
          <div class="text">
            <h2 class="mt-0">Pubblicazione dell’annuncio</h2>
            <p>Con servizio fotografico, virtual tour e home staging.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4 mb-3 mb-xl-0">
        <div class="feature d-flex align-items-start">
          <span class="mr-3"><img src="{{ '/assets/img/contract.png' | url }}" alt="Assistenza"></span>
          <div class="text">
            <h2 class="mt-0">Assistenza burocratica a 360°</h2>
            <p>Dalla stesura del preliminare all’Atto notarile.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
