<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-12 text-center">
        <div class="site-section-title">
          <h2>Servizi</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-4 mb-5" data-aos="fade-up" data-aos-delay="100">
        <img src="{{ '/uploads/images/services/service-1.jpg' | url }}" alt="Intermediazione" class="img-fluid">
        <div class="p-4 bg-white">
          <p>Il nostro compito è trovare il cliente più adatto per il tuo immobile e siamo al tuo fianco nella ricerca di un <strong>sereno clima di trattativa tra venditore e acquirente</strong>, per il conseguimento dell’accordo più proficuo per entrambi.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4 mb-5" data-aos="fade-up" data-aos-delay="200">
        <img src="{{ '/uploads/images/services/service-2.jpg' | url }}" alt="Documenti" class="img-fluid">
        <div class="p-4 bg-white">
          <p>Ti offriamo una <strong>valutazione gratuita</strong> del tuo immobile e <strong>assistenza a 360° nella vendita/acquisto</strong>, dalla stipula del contratto preliminare all’Atto notarile, con accesso agli atti per la ricerca di tutta la documentazione necessaria.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4 mb-5" data-aos="fade-up" data-aos-delay="300">
        <img src="{{ '/uploads/images/services/service-3.jpg' | url }}" alt="Marketing" class="img-fluid">
        <div class="p-4 bg-white">
          <p>Per una <strong>più efficace pubblicità dei tuoi annunci</strong>, oltre al sito e ai canali tradizionali, siamo presenti su portali quali <a href="https://www.casa.it/" target="_blank" rel="nofollow">casa.it</a>, <a href="https://www.idealista.it/" target="_blank" rel="nofollow">idealista.it</a> e nei social; collaboriamo con <strong>fotografi</strong> e <strong>home stager</strong> per servizi professionali e virtual tour.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4 mb-5" data-aos="fade-up" data-aos-delay="400">
        <img src="{{ '/uploads/images/services/service-4.jpg' | url }}" alt="Collaborazioni" class="img-fluid">
        <div class="p-4 bg-white">
          <p>Il nostro team si avvale di professionisti quali <strong>architetti</strong>, <strong>geometri</strong>, <strong>interior designer</strong>, <strong>avvocati</strong>, <strong>broker</strong> e <strong>notai</strong> pronti a risolvere ogni tipo di problematica in fase di compravendita, compresa una consulenza su mutui ed ecobonus.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4 mb-5" data-aos="fade-up" data-aos-delay="500">
        <img src="{{ '/uploads/images/services/service-5.jpg' | url }}" alt="Partners" class="img-fluid">
        <div class="p-4 bg-white">
          <p>Siamo associati <strong>MLS AgentRE</strong>, il network per la collaborazione tutelata della compravendita immobiliare. Apparteniamo inoltre alla <strong>National Association of Realtors</strong> per offrirti un servizio altamente professionale.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4 mb-5" data-aos="fade-up" data-aos-delay="600">
        <img src="{{ '/uploads/images/services/service-6.jpg' | url }}" alt="Extra" class="img-fluid">
        <div class="p-4 bg-white">
          <p>Se affitti, ti aiutiamo con la <strong>registrazione dei contratti di locazione</strong> e la ricerca degli inquilini più adatti. Offriamo assistenza sulle <strong>volture utenze</strong> e procuriamo documenti come la <strong>Certificazione energetica</strong> e altre pratiche catastali.</p>
        </div>
      </div>
    </div>
  </div>
</div>
