<div class="slide-one-item home-slider owl-carousel">
  <div class="site-blocks-cover" style="background-image: url({{ '/uploads/images/promo/promo-1.jpg' | url }});" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="text d-none d-xl-block">
      <h2>La tua casa sul lago d’Iseo</h2>
    </div>
  </div>
  <div class="site-blocks-cover" style="background-image: url({{ '/uploads/images/promo/promo-2.jpg' | url }});" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="text d-none d-xl-block">
      <h2>Splendide abitazioni nella cornice della Valcalepio</h2>
    </div>
  </div>
  <div class="site-blocks-cover" style="background-image: url({{ '/uploads/images/promo/promo-3.jpg' | url }});" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="text d-none d-xl-block">
      <h2>Suggestive residenze fra i vigneti della Franciacorta</h2>
    </div>
  </div>
</div>
