{% extends '../layouts/base.njk' %}
{% block content %}
    {% include 'nav.njk' %}
	{% include 'hero.njk' %}
	{% include 'properties.njk' %}
	{% include 'about.njk' %}
	{% include 'services.njk' %}
    {% include 'footer.njk' %}
{% endblock %}
